{% extends 'base.html.twig' %}

{% block body %}



    <div class="container-fluid">

        <div class="row">
            <br>
            <!-- emplacement bouton back et historique -->
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <a href="{{ path('graphiste_listProj') }}"><input type="button" value="Retour aux projets" class="btn btn-large"></a>
            </div>

            <div class="col-lg-8 text-center">
                <h4>Hisorique</h4>
            </div>
        </div>
        <br>
        {#{% for projet in projets %}#}
        <!-- Debut Colonne gauche -->
        <div class="col-lg-3 text-center">

            <!-- stockage logo / nom projet / nom client / statut projet -->

            <div class="col-lg-12"><img src="{{ asset('bundles/elevenmx/img/micro-logo.png') }}" alt="micro-logo"></div>

            <div class="col-lg-12"><p>{{ dump(projets) }}</p></div>

            <div class="col-lg-12"><p>Nom graphiste</p></div>

            <div class="col-lg-12"><div class="bar_status"> statut </div></div>

        </div>
{#{% endfor %}#}

        <!-- Fin Colonne gauche -->




        <!-- Colonne droite -->



        <div class="col-lg-9">

            <!-- stockage btns "voir le form" / "envoyer un new BAT" / "Terminer le projet" -->
            <div class="row">

                <div class="col-lg-4"><input type="button" value="Voir le formulaire"></div>
                <div class="col-lg-4"><input type="button" value="envoyer un nouveau BAT"></div>
                <div class="col-lg-4"><input type="button" value="Terminer le projet"></div>

            </div>
            <br>

            {% for projet in projets if projet.id == 1 %}
            <div class="row bloc">


                {{ dump(projets) }}


                <!-- bloc a repeter pour les differents echanges -->

                <div class="col-lg-12">


                    <div class="col-lg-8">
                        <!-- date et status -->
                        <p>Date:  DateTime </p>
                        <br>
                        <div class="bar_status"> status </div>

                        <!-- partie commentaire -->

                        <input type="textarea" class="txtarea">

                    </div>

                    <div class="col-lg-4">

                        <!-- stockage image -->

                    </div>

                </div>

            </div>
            <br>
            {% endfor %}


        </div>

        <!-- Fin Colonne droite -->


    </div>
{% endblock %}
