{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% extends 'base.html.twig' %}

{% block body %}


    {% block fos_user_content %}
        <section class="container">
            <div class="row">
                <p>Rappel de votre identifiant et adresse mail: </p>
            </div>
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}

            <div class="row">

                <div class="col-xs-5"></div>
                <div class="col-xs-2">
                    <a href="{{ path('homepage') }}"
                                         class="glyphicon glyphicon-home" id="home"> Vos projets</a></div>
                <div class="col-xs-5"></div>
            </div>
        </section>

    {% endblock fos_user_content %}




{% endblock %}