/****************** NAVBAR *****************/

#elevenmx_img {
    padding-top: 25px;
    margin-left: 100px;
}

#eleven-h1 {
    margin-left: 70px;
    left: 157px;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 30px;
}

#log_off {
    color: #fff;
    font-size: 30px;
    padding-right: 30px;
    margin-top: 25px;
}

#log_off:hover {
    text-decoration: none;
}

.full {
    width: 100%;
}



.blue {
    background-color: #009DE0;
    height: 60px;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 15px;
}


.logo_emx {
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 100;
}

@media screen and (max-width: 360px) {
    .logo_css {
        display:none;

    }
    .logo_emx {
        display: none;
    }
}

#login_bloc {
    margin-top: 100px;
}

.micro_logo {
    margin-left: 15px;
    margin-top: 5px;
}

@media screen and (max-width: 360px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}


/************************************ Fin  Menu Navbar *******************************************************/

.btn-success{
    background-color: #009DE0;
}
.img{
    padding-top: 100px;
}

/*************** FOOTER ***********************/

footer {
    background-color: #000;
    color: #fff;
    margin-top: 21px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


#float_right {
    margin-top:15px;
    float: right;
}

.txt_footer {
    margin-top: 15px;
}

#btn_logo {
    background-color: #000;
}

/********** Photos dans modal *******************/

.eleve {
    width: 100%;
}

.modal_mention {
    text-align: center;
    /*font-size: 1.35em;*/
    color: black;
    margin: 10px;
}

