
/****************** NAVBAR *****************/

#elevenmx_img {
    padding-top: 25px;
    margin-left: 100px;
}

#eleven-h1 {
    margin-left: 70px;
    left: 157px;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 30px;
}

#log_off {
    color: #fff;
    font-size: 30px;
    padding-right: 30px;
    margin-top: 25px;
}

#log_off:hover {
    text-decoration: none;
}

.full {
    width: 100%;
}



.blue {
    background-color: #009DE0;
    height: 60px;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 15px;
}


.logo_emx {
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 100;
}

@media screen and (max-width: 360px) {
    .logo_css {
        display:none;

    }
    .logo_emx {
        display: none;
    }
}


/************************************ Fin  Menu Navbar *******************************************************/
/************************************ Formulaire création client *******************************************************/
.container {
    text-align: center;
    color: #222222;;
}

.droite {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: 30%;
}
#titre {
    text-align: center;
}

#colonegauche {
    padding-left: 15%;
}

#colonedroite {
    padding-right: 15%;
}

/************************************ Fin Formulaire création client *******************************************************/

/************************************ Formulaire création projet *******************************************************/

.projet_h1
{
    text-align: center;
}

.projet{
    margin-top:100px;

}

/************************************ Fin Formulaire création projet *******************************************************/
/************************************ Formulaire liste projet via index *******************************************************/

.projet_h1
{
    text-align: center;
}
.projet_index_table1
{
    margin-left: 15%;
    margin-bottom: 5%;
}

#projet_ligne_aff
{
    border: solid black;
    margin-top: 50px;
}

#projet_ligne_bloc1_aff
{
    border: solid black;
    margin-top:20px
}

.projet_bloc_h4_aff
{
    color: black
}
.projet_bloc1_h4_bis_aff
{
    color: black;
    margin-top: 50px;
}
#projet_statut_red
{
    background-color:red;
    border: solid black;
    margin-top:20px
}
#projet_statut_green
{
    background-color:green;
    border: solid black;
    margin-top:20px
}
#projet_statut_blanc
{
    background-color:white;
    border: solid black;
    margin-top:20px
}
#projet_statut_orange
{
    background-color:orange;
    border: solid black;
    margin-top:20px
}

/************************************ Fin Formulaire liste projet vi index *******************************************************/

/************************************ Debut Formulaire liste commentaires *******************************************************/


/***********************************  Fin Formulaire liste commentaires   *******************************************************/



/*************** FOOTER ***********************/

footer {
    background-color: #000;
    color: #fff;
    margin-top: 21px;
    width: 100%;
    bottom: 0;
}

.txt_footer {
    margin-top: 15px;
}

#float_right {
    margin-top:15px;
    float: right;
}

#btn_logo {
    background-color: #000;
}
/********** Photos dans modal *******************/

.eleve {
    width: 100%;
}

.modal_mention {
    text-align: center;
    /*font-size: 1.35em;*/
    color: black;
    margin: 10px;
}


/************************************ Fin Footer ******************************************************/


/************************************ Formulaire création graphiste *******************************************************/

#newgraph {
    text-align: center;
  }

/************************************ Fin Formulaire création graphiste *******************************************************/

/************************************ Page show *******************************************************/

#btnBATmodal{
    margin-top: 10px;
    width: 100%;
   border: solid;
    color:blue;
    border-width: 1px;
    height: 50px;
}

#btnBATmodalComm{
    border: solid;
    color:blue;
    border-width: 1px;
    height: 50px;
    margin-top: 5px;
}

#myModalBATComm{
    margin-top: 2%;

}
/************************************ Fin Page show *******************************************************/


/************************************ debut Page produit *******************************************************/
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
/************************************ Fin Page produit *******************************************************/

select {
    height: 25px;
    width: 150px;
}