
/************** PAGE GLOBALE ****************/

.page {
    width: 100%;

}

/****************** NAVBAR *****************/

.super-container {
    width: 100%;
    background: black;
    height: 100px;
}

.container1 {
    width: 100%;
    background-color: #009DE0;
    height: 60px;
    padding-top: 15px;
    margin-top: 98px;
}

.logo {
    padding: 20px;
    margin-left : 100px;
}

.buton1 {
    margin-left: 100px;
    border-radius: 9px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo > img {
    margin-left: 30px;
}

.logo_bar {
    margin-right: -15px;
    margin-left: -15px;
}


.logoelevenmxmin {
    position: absolute;
    z-index: 500;
    top: 40px;
    left: 250px;
    height : 22px;
    width: 272px;
}

#eleven-h1 {
    margin-left: 0;
    left: 157px;
    font-size: 17px;
    color: white;
    margin-top: 10px;
}

.main-menu {
    background-color: #009DE0;
}
/************************************ Fin  Menu Navbar *******************************************************/
/************************************ Formulaire création client *******************************************************/
.container {
    text-align: center;
    color: #222222;;
}

.droite {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: 30%;
}
#titre {
    text-align: center;
}

#colonegauche {
    padding-left: 15%;
}

#colonedroite {
    padding-right: 15%;
}

/************************************ Fin Formulaire création client *******************************************************/


/*************** FOOTER ***********************/

footer {
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
}


#float_right {
    margin-top:15px;
    float: right;
}

.txt_footer {
    margin-top: 15px;
}

#btn_logo {
    background-color: #000;
}

/********** Photos dans modal *******************/

.eleve {
    width: 100%;
}

.modal_mention {
    text-align: center;
    /*font-size: 1.35em;*/
    color: black;
    margin: 10px;
}

