Bienvenue «{{ user.username }}» ,

suite à votre demande, nous avons attribué un compte d’accès personnel à la plate-forme en ligne de gestion de projet.

Vous allez pouvoir en vous connectant :

=> Visualiser vos bons à tirer
=> Echanger avec le graphiste en charge de votre projet
=> Envoyer des fichiers utile à la réalisation de celui-ci
=> Valider vos bons à tirer


************************************************
COMMENT SE CONNECTER

Connectez-vous à <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a> et utilisez votre adresse e-mail et le mot de passe ci-dessous :

MFS24L

Le mot de passe initial a été généré automatiquement et nous vous invitons à le modifier par un mot de passe qu’il vous est facile à mémoriser.

************************************************
************************************************

Pour toute question supplémentaire sur l’utilisation, n’hésitez pas à nous contacter,

très sincèrement,

l’équipe Eleven MX.

