<h3>You did it! You registered!</h3>


Hi New user, you're
Login  is {{ user.username }} and you're temporary password is {{ user.password }}


Please click here to connect
{#{{ path(' chemin de la page login') }}#}

! You're successfully registered.

