


<p>Bienvenue {{ user.username }} ,</p>

suite à votre demande, nous avons attribué un compte d’accès personnel à la plate-forme en ligne de gestion de projet.<br />

Vous allez pouvoir en vous connectant :<br />

=> Visualiser vos bons à tirer<br />
=> Echanger avec le graphiste en charge de votre projet<br />
=> Envoyer des fichiers utile à la réalisation de celui-ci<br />
=> Valider vos bons à tirer<br />


************************************************<br />
COMMENT SE CONNECTER<br />

Connectez-vous à <strong><a href="localhost:8000/login">Eleven MX</a></strong> et utilisez votre adresse e-mail et le mot de passe ci-dessous :<br />

MFS24L<br />


Le mot de passe initial a été généré automatiquement et nous vous invitons à le modifier par un mot de passe qu’il vous est facile à mémoriser.<br />

************************************************<br />

N'hesitez pas à remplir le Formulaire que vous recevrez lors de la création de votre projet personnalisé, afin de le détailler au mieux.<br />

************************************************<br />

Pour toute question supplémentaire sur l’utilisation, n’hésitez pas à nous contacter,<br />

très sincèrement,<br />

l’équipe Eleven MX.<br />

