{% extends 'base.html.twig' %}

   {% block title %} Formulaire Mail nouveau client{% endblock %}

{% block body %}
<body>
<br>
<br>
<br>
<!--************************* boutons pour le Nico **************************-->

               <!-- <div class="col-sm-10">
                    <button class="buton1" type="submit">Création Client</button>
                    <button class="buton1" type="submit">Création Projet</button>
                    <button class="buton1" type="submit">Création Formulaire</button>
                    <button class="buton1" type="submit">Création Graphiste</button>
                </div> -->

<!--************************* Fin Navbar Menu **************************-->

<!--************************* Formulaire **************************-->

    <form action="{{ path('elevenmx_sendMail') }}" method="POST">
        <div class="container">
            <div class="row" id="titre">
                <h1>Création d'un nouveau client</h1>
            </div>

            <div class="col-lg-6" id="colonegauche">

                    <h4>Nom</h4>
                    <input type="text" name="Nom">
                    <br>
                    <h4>Prénom</h4>
                    <input type="text" name="Prénom">
                    <br>
                    <h4>Mail</h4>
                    <input type="text" name="Mail">
                    <br>
                    <h4>Téléphone</h4>
                    <input type="text" name="Téléphone">
                    <br>
                    <h4>Entreprise</h4>
                    <input type="text" name="Entreprise">
                    <br>

                  <!--************************* button and modal  **************************-->

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"> Hey Nico !</h4>
                            </div>
                            <div class="modal-body">
                                <p>Ton mail a bien été envoyé ;) </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--************************* nos deux champs excentrés  **************************-->

                        <div class="col-lg-6" id="colonedroite">
                            <div class="row">
                                <div class="droite">
                                    <h4>Code Utilisateur</h4>
                                    <input type="text" name="User">
                                    <h4>Mot de passe</h4>
                                    <input type="text" name="Password">
                                </div>
                            </div>
                        </div>

            <!--************************* fin de nos deux champs excentrés  **************************-->

        </div>
    </form>
        <div class="row" id="titre">
            <a type="submit" class="btn btn-info btn-default" data-toggle="modal" data-target="#myModal">Créer</a>
        </div>

<!--************************* end button and modal  **************************-->

<!--************************* Fin formulaire **************************-->

</body>
{% endblock %}
