{#
<form action="{{ path('elevenmx_recherche') }}" method="POST" class="navbar-form form-search pull-left">

    {{ form_widget(form.recherche) }}
    <button type="submit" class="btn">Rechercher</button>
    {{ form_widget(form) }}
</form>#}
